In [330]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [331]:
df = pd.read_json("reviews (1).json",lines=True)

In [332]:
df.shape

(1386, 9)

In [333]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1F6404F1VG29J,B000F83SZQ,Avidreader,"[0, 0]",I enjoy vintage books and movies so I enjoyed ...,5.0,Nice vintage story,1399248000,"05 5, 2014"
1,AN0N05A9LIJEQ,B000F83SZQ,critters,"[2, 2]",This book is a reissue of an old one; the auth...,4.0,Different...,1388966400,"01 6, 2014"
2,A795DMNCJILA6,B000F83SZQ,dot,"[2, 2]",This was a fairly interesting read. It had ol...,4.0,Oldie,1396569600,"04 4, 2014"
3,A1FV0SX13TWVXQ,B000F83SZQ,"Elaine H. Turley ""Montana Songbird""","[1, 1]",I'd never read any of the Amy Brewster mysteri...,5.0,I really liked it.,1392768000,"02 19, 2014"
4,A3SPTOKDG7WBLN,B000F83SZQ,Father Dowling Fan,"[0, 1]","If you like period pieces - clothing, lingo, y...",4.0,Period Mystery,1395187200,"03 19, 2014"

In [334]:
df = df.rename(columns={'asin':'product_id'})

In [335]:
df.dtypes

reviewerID         object
product_id         object
reviewerName       object
helpful            object
reviewText         object
overall           float64
summary            object
unixReviewTime      int64
reviewTime         object
dtype: object

In [336]:
df.reviewTime = pd.to_datetime(df.reviewTime)

In [337]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      1386 non-null   object
 1   product_id      1386 non-null   object
 2   reviewerName    1384 non-null   object
 3   helpful         1386 non-null   object
 4   reviewText      1386 non-null   object
 5   overall         1375 non-null   float64
 6   summary         1386 non-null   object
 7   unixReviewTime  1386 non-null   int64
 8   reviewTime      1386 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 97.6+ KB

In [338]:
df[df.isna().any(axis=1)].head(13)

,reviewerID,product_id,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
22,A1UG4Q4D3OAH3A,B000FA64QO,dsa,"[0, 0]",Great book couldn't put it down. The story ex...,NaN,Ylesia,1391472000,2014-02-04
29,A2EN84QHDRZLP2,B000FBFMVG,Carl craft,"[0, 0]",Great short story. It gives a little more insi...,NaN,Another read,1388620800,2014-01-02
63,AEC18J7P03ZBP,B000FC2MB8,pigskin,"[0, 0]","I look forward to getting to the next books, a...",NaN,"Also, exciting and descriptive.",1375142400,2013-07-30
64,A39N0BN4B2Q7F,B000FDJ0FS,"Amazoner ""reader, thinker, doer""","[2, 9]",He had an english accent which he seemed tryin...,NaN,In was thinking of getting until I heard the c...,1386633600,2013-12-10
385,A2VQLTC61OV8U3,B000JQUTGK,NaN,"[0, 0]",Not very well written but historical details i...,4.0,Four Stars,1405555200,2014-07-17
549,A2Q49SE6Q1NVCQ,B000QCS8YM,David Wesley tonkin,"[0, 0]",There are not really enough superlatives ... o...,NaN,Conan Doyle is the Master!,1392508800,2014-02-16
550,AXYFNRDTY33TU,B000QCS8YM,"Josephnatdog ""Bookwormjr""","[0, 0]","Adventure, thrills, action, great detection. ...",NaN,Love it,1371513600,2013-06-18
551,A295A2TPG8JJ7Y,B000QCS8YM,Librarian,"[21, 21]",This authorized 2-volume set (joined into one ...,NaN,Absolute BEST Holmes set: 100% complete & perf...,1361664000,2013-02-24
552,A1M3NVR8A3O627,B000QCS8YM,Stephen,"[0, 0]",Volume 1 of the Sherlock Holmes series is abso...,NaN,Sherlock Holmes: The Complete Novels and Stori...,1382832000,2013-10-27
553,A2RA52XTSPZB9Y,B000QCS8YM,Susandee,"[0, 0]",The classics never go out of style. Sherlock a...,NaN,Great as always,1398124800,2014-04-22
718,A3VXGX6X6B63K,B000SRGF2W,NaN,"[0, 0]",I won this book from Denise Agnew. I liked it...,5.0,Nice surprise,1405468800,2014-07-16
943,A1RUGOMYCF8NF4,B000WSFBO0,Kindle Customer,"[0, 0]",I enjoy elegant language. I appreciate good ed...,NaN,Elegant language,1393459200,2014-02-27
954,AIIY3MCW8VD74,B000WSFBO0,Sara Ruth Willingham,"[0, 0]",This collection of stories was shockingly well...,NaN,Really good!,1393804800,2014-03-03

In [339]:
noNames = df.loc[df.reviewerName.isna()]['reviewerID']

In [340]:
df.loc[df.reviewerID.isin(noNames)]

,reviewerID,product_id,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
385,A2VQLTC61OV8U3,B000JQUTGK,NaN,"[0, 0]",Not very well written but historical details i...,4.0,Four Stars,1405555200,2014-07-17
718,A3VXGX6X6B63K,B000SRGF2W,NaN,"[0, 0]",I won this book from Denise Agnew. I liked it...,5.0,Nice surprise,1405468800,2014-07-16

In [341]:
df.reviewerName = df.reviewerName.fillna('')

In [342]:
group_by_product = df[['product_id','overall']].groupby('product_id')
mean_overall_per_product = group_by_product.mean().rename(columns={'overall':'mean_product_overall'})
min_overall_per_product = group_by_product.min().rename(columns={'overall':'max_product_overall'})
max_overall_per_product = group_by_product.max().rename(columns={'overall':'min_product_overall'})

In [343]:
mean_overall_per_product

            mean_product_overall
product_id
B000F83SZQ              4.250000
B000FA64PA              4.200000
B000FA64PK              4.375000
B000FA64QO              3.500000
B000FBFMVG              4.250000
...                          ...
B0015Z7VFG              3.882353
B0015Z7VFQ              3.833333
B0015Z7VWE              3.866667
B0015Z7WL4              3.388889
B00164WE1W              4.100000

[129 rows x 1 columns]

In [344]:
min_overall_per_product

            max_product_overall
product_id
B000F83SZQ                  4.0
B000FA64PA                  3.0
B000FA64PK                  3.0
B000FA64QO                  2.0
B000FBFMVG                  3.0
...                         ...
B0015Z7VFG                  1.0
B0015Z7VFQ                  1.0
B0015Z7VWE                  1.0
B0015Z7WL4                  1.0
B00164WE1W                  1.0

[129 rows x 1 columns]

In [345]:
max_overall_per_product

            min_product_overall
product_id
B000F83SZQ                  5.0
B000FA64PA                  5.0
B000FA64PK                  5.0
B000FA64QO                  5.0
B000FBFMVG                  5.0
...                         ...
B0015Z7VFG                  5.0
B0015Z7VFQ                  5.0
B0015Z7VWE                  5.0
B0015Z7WL4                  5.0
B00164WE1W                  5.0

[129 rows x 1 columns]

In [346]:
merged_df = pd.merge(df, mean_overall_per_product, on='product_id')
merged_df['overall'].fillna(merged_df['mean_product_overall'], inplace=True)
merged_df.drop(columns=['mean_product_overall'],inplace=True)
df = merged_df
df[df.isna().any(axis=1)]

,reviewerID,product_id,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
549,A2Q49SE6Q1NVCQ,B000QCS8YM,David Wesley tonkin,"[0, 0]",There are not really enough superlatives ... o...,NaN,Conan Doyle is the Master!,1392508800,2014-02-16
550,AXYFNRDTY33TU,B000QCS8YM,"Josephnatdog ""Bookwormjr""","[0, 0]","Adventure, thrills, action, great detection. ...",NaN,Love it,1371513600,2013-06-18
551,A295A2TPG8JJ7Y,B000QCS8YM,Librarian,"[21, 21]",This authorized 2-volume set (joined into one ...,NaN,Absolute BEST Holmes set: 100% complete & perf...,1361664000,2013-02-24
552,A1M3NVR8A3O627,B000QCS8YM,Stephen,"[0, 0]",Volume 1 of the Sherlock Holmes series is abso...,NaN,Sherlock Holmes: The Complete Novels and Stori...,1382832000,2013-10-27
553,A2RA52XTSPZB9Y,B000QCS8YM,Susandee,"[0, 0]",The classics never go out of style. Sherlock a...,NaN,Great as always,1398124800,2014-04-22

In [351]:
df.query('product_id == "B000QCS8YM"')

,reviewerID,product_id,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
549,A2Q49SE6Q1NVCQ,B000QCS8YM,David Wesley tonkin,"[0, 0]",There are not really enough superlatives ... o...,NaN,Conan Doyle is the Master!,1392508800,2014-02-16
550,AXYFNRDTY33TU,B000QCS8YM,"Josephnatdog ""Bookwormjr""","[0, 0]","Adventure, thrills, action, great detection. ...",NaN,Love it,1371513600,2013-06-18
551,A295A2TPG8JJ7Y,B000QCS8YM,Librarian,"[21, 21]",This authorized 2-volume set (joined into one ...,NaN,Absolute BEST Holmes set: 100% complete & perf...,1361664000,2013-02-24
552,A1M3NVR8A3O627,B000QCS8YM,Stephen,"[0, 0]",Volume 1 of the Sherlock Holmes series is abso...,NaN,Sherlock Holmes: The Complete Novels and Stori...,1382832000,2013-10-27
553,A2RA52XTSPZB9Y,B000QCS8YM,Susandee,"[0, 0]",The classics never go out of style. Sherlock a...,NaN,Great as always,1398124800,2014-04-22

In [348]:
df.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1386 entries, 0 to 1385
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      1386 non-null   object
 1   product_id      1386 non-null   object
 2   reviewerName    1386 non-null   object
 3   helpful         1386 non-null   object
 4   reviewText      1386 non-null   object
 5   overall         1381 non-null   float64
 6   summary         1386 non-null   object
 7   unixReviewTime  1386 non-null   int64
 8   reviewTime      1386 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 108.3+ KB

In [349]:
unique_products = df.product_id.nunique()
unique_products

129

In [350]:
unique_reviewer = df.reviewerID.nunique()
unique_reviewer

1131

In [389]:
df['product_id'].value_counts().idxmax()

'B000JMLBHU'

In [392]:
highest_reviewer = df['reviewerID'].value_counts().idxmax()
highest_reviewer

'A320TMDV6KCFU'

In [395]:
df.loc[df['reviewerID'] == highest_reviewer].nsmallest(1,'overall')

,reviewerID,product_id,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
1133,A320TMDV6KCFU,B0012W11BM,MNix,"[5, 5]",Federal Judge Jackson Benedict is trying a cas...,4.0,Court Appointed,1210118400,2008-05-07

In [400]:
df['reviewerID'].value_counts()[df['reviewerID'].value_counts() > 5].count()

5

In [403]:
df.loc[(df.product_id == 'B000GFK7L6') & (df.overall == 1)]['reviewerName']

79           Amazon Customer "EmanEkaf"
81     Amazoner "reader, thinker, doer"
86                        Douglas Banks
100                          Tyme4abook
Name: reviewerName, dtype: object

In [408]:
df['days_since_review'] = (pd.to_datetime("today") - df.reviewTime).dt.days

In [417]:
help_arr = []
for h in df.helpful:
    help_arr.append(h[0] >= h[1]*0.5)
df['helpfull_bool'] = help_arr

In [418]:
df

,reviewerID,product_id,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,days_since_review,helpfull_bool
0,A1F6404F1VG29J,B000F83SZQ,Avidreader,"[0, 0]",I enjoy vintage books and movies so I enjoyed ...,5.0,Nice vintage story,1399248000,2014-05-05,3212,True
1,AN0N05A9LIJEQ,B000F83SZQ,critters,"[2, 2]",This book is a reissue of an old one; the auth...,4.0,Different...,1388966400,2014-01-06,3331,True
2,A795DMNCJILA6,B000F83SZQ,dot,"[2, 2]",This was a fairly interesting read. It had ol...,4.0,Oldie,1396569600,2014-04-04,3243,True
3,A1FV0SX13TWVXQ,B000F83SZQ,"Elaine H. Turley ""Montana Songbird""","[1, 1]",I'd never read any of the Amy Brewster mysteri...,5.0,I really liked it.,1392768000,2014-02-19,3287,True
4,A3SPTOKDG7WBLN,B000F83SZQ,Father Dowling Fan,"[0, 1]","If you like period pieces - clothing, lingo, y...",4.0,Period Mystery,1395187200,2014-03-19,3259,False
...,...,...,...,...,...,...,...,...,...,...,...
1381,A2HZ1PF9CF38DB,B00164WE1W,Hollie,"[2, 2]",This story was a great quick read...it has mis...,5.0,a Great quick read!,1357084800,2013-01-02,3700,True
1382,A1SXKUJKM8JFPG,B00164WE1W,kimberlyindy,"[0, 0]",I love to read Novellas when I am running shor...,5.0,Wish it was longer.......,1356393600,2012-12-25,3708,True
1383,A388AC8UPUGOUB,B00164WE1W,mengel2,"[0, 0]",I love reading mini novels and you can't go wr...,5.0,A Heart-warming Story,1356480000,2012-12-26,3707,True
1384,A3HMXAY912371K,B00164WE1W,Monica Tillery,"[0, 0]","I don't know how she did it, but Jane Porter m...",5.0,"Short, Sweet, and Heartwarming",1356652800,2012-12-28,3705,True
1385,A1J4ZZVGTNBQFE,B00164WE1W,Rosemary,"[2, 2]",This mini-novel was a romantic read with a HEA...,5.0,Their Love was Fated,1356998400,2013-01-01,3701,True